{% extends 'base.html' %}
{% block head %}
<title>ABOUT ME</title>
<style>
    body{
        background-color: yellow;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <h1 style="color: blue;font-family: sans-serif;text-align: center;margin-top: 50px;">WELCOME TO 'ABOUT ME' PAGE!!</h1>
    <h4>HELLO MYSELF NEHA SOROUT AND I AM CURRENTLY PURSUING B.TECH COMPUTER ENGINEERING</h4><br>
    <h4>MY UNIVERSITY NAME IS YMCAUST</h4><br>
    <h4>I AM CURRENTLY STUDYING IN 4TH SEMESTER</h4>
</div>
{% endblock %}