{% extends 'base.html' %}
{% block head %}
<title>ACHIEVEMENTS</title>
{% endblock %}

{% block content %}
<div class="container">
    <h1 style="color: navy;font-family: sans-serif;text-align: center;margin-top: 50px;">WELCOME TO 'ACHIEVEMENTS' PAGE!!</h1>
    <ul>
        <li style="font-weight: bolder;color:brown;letter-spacing: 10px;text-align: center;list-style: none;">qwerty</li>
        <li style="font-weight: bolder;color:brown;letter-spacing: 10px;text-align: center;list-style: none;">asdfg</li>
        <li style="font-weight: bolder;color:brown;letter-spacing: 10px;text-align: center;list-style: none;">zxcvb</li>
        <li style="font-weight: bolder;color:brown;letter-spacing: 10px;text-align: center;list-style: none;">tyuio</li>
    </ul>
</div>
{% endblock %}