{% extends 'base.html' %}
{% block head %}
<title>HOME</title>
{% endblock %}

{% block content %}
<div class="container">
    <h1 style="text-align: center;color:red;text-decoration: underline;">HOME PAGE</h1>
    <div class="card" style="width: 15rem;">
        <img src='static/images/neha.jpg' class="card-img-top" alt="...">
        <div class="card-body">
          <span class="card-text" style="font-weight: bolder;">Myself Neha Sorout!!</span><br>
          <span class="card-text" style="font-weight: bolder;">Welcome to my Portfolio Website.</span>
        </div>
    </div>
</div>
{% endblock %}